xml-resources/web-service-references/BmiCalculatorWS/wsdl/localhost_8080/SimpleSoapBmiCalculator/BmiCalculatorWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservices.mindfire.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.mindfire.org/">

<xs:element name="calculateBMI" type="tns:calculateBMI" />

<xs:element name="calculateBMIResponse" type="tns:calculateBMIResponse" />

<xs:complexType name="calculateBMI">
<xs:sequence>
<xs:element name="height" type="xs:double" />
<xs:element name="weight" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBMIResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>